<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    {{>headCss}}
</head>

<body>
    <div class="wrapper">
        {{>navbar}}
        {{>header}}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-fluid" src="/img/me.jpg">
                </div>
                <div class="offset-md-2 col-md-5">
                    <p>This is <span class="my-name">Adi Lewenstein</span>, a full-stack developer extraordinaire.</p>
                    <p><span class="my-name">Adi</span> built this application as a part of <a href="https://www.udemy.com/the-complete-nodejs-developer-course-2">this fantastic Node JS course</a>.</p>
                    <p>This app provides the current weather description in the location provided by the user, based on data fetched from <a href="https://www.mapbox.com">Mapbox</a> and <a href="https://darksky.net/">DarkSky</a> API's.</p>
                    <p>The app is rendered on the server side using Express and HBS.</p>
                    <p>Also, here are <a href="https://www.putyouinabettermood.com/">puppies</a>.</p>
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>