<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    {{>headCss}}
</head>

<body>
    <div class="wrapper">
        {{>navbar}}
        {{>header}}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="img-fluid" src="/img/me.jpg">
                </div>
                <div class="offset-md-2 col-md-5">
                    I think {{something}} is awesome!
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>