<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    {{>headCss}}
</head>

<body>
    <div class="wrapper">
        {{>navbar}}
        {{>header}}
        <div class="container">
            <div class="row">
                <div class="card">
                    <p>
                        {{helpMessage}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>